* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

main {
    color: black;
}

header {
    background-color: #333;
    color: lime;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Dosis";
    font-size: 18px;
    position: fixed;
    width: 100%;

    a {
        text-decoration: none;
        color: limegreen;
    }
}

nav {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.btn {
    padding: 10px 15px;
    background-color: limegreen;
    border-radius: 10px;
    transition: 0.5s;
    margin: 0 20px;
}

.btn:hover {
    background-color: white;
    color: limegreen;
}

.btn2:hover {
    color: limegreen;
}

.imagem {
    img {
        width: 100%;
        ;
    }
}

.faixa {
    font-size: 18px;
    color: green;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    max-width: 90%;
}

.sobre {
    p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #333;
    }

    .tex {
        width: 50%;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: limegreen;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.5s;
        margin: 0 700px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 16px;
    }
}

.botao:hover {
    background-color: black;
    color: limegreen;
}

footer {
    text-align: center;
    background-color: black;
    color: limegreen;
    margin-top: 30px;

    p {
        margin: 0;
        padding: 10px 10px 10px 30px;
    }
}

.container {
    width: 50%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 50px;

    .coluna {
        margin: 30px;

        img {
            float: right
        }

        h2 {
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            color: limegreen;
            background-color: black;
            padding: 15px 15px;
            text-align: center;
            margin: 0 150px;
            border-radius: 10px;
        }

        p {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 10px 10px;
            color: #333;
        }


    }

}

.texto {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.bottom {
    padding: 15px 30px;
    background-color: limegreen;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    margin: 0 290px;
    transition: 0.5s;
}

.bottom:hover {
    background-color: black;
    color: limegreen;
}

footer a {
    text-decoration: none;
    color: green;
    margin: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 100px;
    transition: 0.5s;
}

footer a:hover {
    background-color: limegreen;
    color: white;
}

footer h1 {
    padding: 10px 10px 10px 30px;
}

i {
    padding: 10px;
}

.header-menu {
    border: 1px solid white;
    color: white;
    font-size: 2em;
    float: right;
    padding: 10px;
    margin: 10px;
    display: none;
}

.texto2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    color: #333;
}
.coluna12{
    width: 50%;
    margin: auto;
}
.butt{
    padding: 15px 30px;
    background-color: limegreen;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    margin: 0 100px;
    transition: 0.5s;
}
.butt:hover {
    background-color: black;
    color: limegreen;
}
@media (max-width: 520px) {
    header {
        padding: 20px;
    }

    img {
        margin-top: 100px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }

    .faixa {
        margin: 0 20px;
        font-size: 18px;
    }

    .sobre p {
        font-size: 14px;
        margin: 0 10px;
    }

    .sobre a {
        margin: 20px auto;
        display: block;
        width: fit-content;
    }

    .grid {
        grid-template-columns: 1fr;
        margin: 0 10px;
    }

    .grid .coluna h2 {
        margin: 0 10px;
    }

    .grid .coluna p {
        padding: 10px;
    }

    .texto {
        margin: 20px 10px;
        font-size: 14px;
    }

    .bottom {
        margin: 20px auto;
        display: block;
        width: fit-content;
    }

    footer {
        padding: 20px;
    }

    footer p {
        font-size: 12px;
    }

    footer a {
        margin: 10px;
        padding: 5px;
    }

    .header-menu {
        display: block;
        font-size: 1.5em;
        margin: 10px 40px;
        margin-left: auto;
    }

    .header-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        text-align: center;
    }

    .header-nav.active {
        display: flex;
    }

    .header-nav ul {
        padding-bottom: 15px;
    }
    .butt{
        margin: 0 10px;
    }
    section{
        text-align: center;
    }
}