* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

main {
    color: black;
}

header {
    background-color: #333;
    color: lime;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Dosis";
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    a{
        text-decoration: none;
        color: limegreen;
    }
}

nav {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
}


nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.btn {
    padding: 10px 15px;
    background-color: limegreen;
    border-radius: 10px;
    transition: 0.5s;
    margin: 0 20px;
}

.btn:hover {
    background-color: white;
    color: limegreen;
}

.btn2:hover {
    color: limegreen;
}

.faixa {
    font-size: 24px;
    color: green;
    text-align: center;
    padding: 15px;
    margin: 0px auto;
    max-width: 90%;
    margin-top: 100px;
    margin-bottom: 15px;
}
i{
    padding: 10px;
}
.container{
    width: 90%;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: 10px;
}
.coluna {
    text-align: center;
    margin-top: 30px;
}
footer {
    text-align: center;
    background-color: black;
    color: limegreen;
    margin-top: 30px;
    h1{
        margin: 0;
        padding: 10px 10px 10px 10px;
    }

    p {
        margin: 0;
        padding: 10px 10px 10px 30px;
    }
}
footer a{
    text-decoration: none;
    color: green;
    margin: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 100px;
    transition: 0.5s;
}
footer a:hover{
    background-color: limegreen;
    color: white;
}
i{
    padding: 10px;
}
.header-menu{
    border: 1px solid white;
    color: white;
    font-size: 2em;
    float: right;
    padding: 10px;
    margin: 10px;
    display: none;
}
@media (max-width: 520px){
    header {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .grid {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

    .faixa {
        font-size: 18px;
        padding: 10px;
        margin-top: 150px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    footer {
        padding: 20px;
    }

    footer a {
        margin: 10px auto;
        width: fit-content;
    }
    .header-menu{
        display: block;
        font-size: 1.5em;
        margin: 10px 40px;
        margin-left: auto;
    }
    .header-nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        text-align: center;
    }
    .header-nav.active{
        display: flex;
    }
    .header-nav ul{
        padding-bottom: 15px;
    }
}
